<div class="row">
    <div class="mx-auto col-11 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
        <h3 class="m-4">No pueder eliminar este genero ya que tiene series asociadas</h3>
        <a class="btn btn-outline-danger float-end w-100" asp-action="Index" asp-controller="Gender">Ir al mantenimiento de generos</a>
    </div>
</div>