@{
    ViewData["Title"] = "Eliminar productora";
}
@using ITLA_TV.Core.Application.ViewModels.Producers;
@model SaveProducerViewModel;

<div class="row">
    <div class="col-11 mx-auto col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>Esta seguro que desea eliminar la productora @Model.Name</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Producer" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger float-end">Eliminar</button>
                    <a asp-action="Index" asp-controller="Producer" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>